
<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Users">User Managment</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container-xl">
        <div class="table-responsive">
          <div class="table-wrapper">
            <!--Table Header-->
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Manage <b>collaborater</b></h2>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-backdrop="static" data-bs-keyboard="false" (click)="addClick()">
                    <i class="material-icons">&#xE147;</i>
                    <span>Add New Employee</span>
                  </button>
                  <!-- Button trigger modal -->
                </div>
              </div>
            </div>
            <!--Table Header-->
            <!--Header-->
            <!--Table Body-->
            <table class="table">
              <thead>
                <th scope="col">
                  <div class="d-flex flex-row">
                    <input [(ngModel)]="UserNameFilter" class="form-control" (keyup)="FilterFn()"
                      placeholder="Filter" />

                    <button type="button" class="btn btn-light" (click)="sortResult('email', true)">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z" />
                      </svg>
                    </button>
                    <button type="button" class="btn btn-light" (click)="sortResult('email', false)">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z" />
                      </svg>
                    </button>
                  </div>
                  User Email
                </th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Department</th>
                <th scope="col">User role</th>
                <th scope="col" colspan="2">Actions</th>
              </thead>
              <tbody>
                <tr *ngFor="let dataitem of UsersList">
                  <td class="emailField" [routerLink]="['/Dashboard/Profile',dataitem.userId]">{{dataitem.email}}</td>
                  <td>{{ dataitem.firstname }}</td>
                  <td>{{ dataitem.lastname }}</td>
                  <td>{{ dataitem.role.job_title }}</td>
                  <td>{{ dataitem.departmentDomain}}</td>
                  <td>{{ dataitem.role.roleName }}</td>
                  <td>
                    <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal"
                      data-bs-target="#exampleModal" data-bs-backdrop="static" data-bs-keyboard="false"
                      (click)="EditClick(dataitem)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                      </svg>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger mr-1" (click)="DeleteClick(dataitem)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--Table Body-->
            <!--Table Footer-->
            <div class="clearfix">
              <div class="container">
                <div class="row">
                  <div class="col-8">
                    <div>
                      <ul class="pagination pagination-sm" style="float: left;">
                        Page item Size :
                        <li class="page-item"><a class="page-link" (click)="onChangeNumberUsersPerPage(5)"
                            tabindex="-1">5</a></li>|
                        <li class="page-item"><a class="page-link" (click)="onChangeNumberUsersPerPage(10)">10</a></li>|
                        <li class="page-item"><a class="page-link" (click)="onChangeNumberUsersPerPage(15)">15</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4">
                    <ul class="pagination">
                      <li class="page-item" (click)="moveBackPage()" class="page-link">
                        <a class="page-link" [class.disabled]="true">Previous</a>
                      </li>
                      <div *ngFor="let page of Parser(totalPages)">
                        <li class="page-item" [class]="
                            page == currentPage ? 'page-link active' : 'page-link'
                          " (click)="moveToPage(page)">
                          <a [class.disabled]="true">{{ page }}</a>
                        </li>
                      </div>
                      <li class="page-item" (click)="moveNextPage()" class="page-link">
                        <a [class.disabled]="true">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--Table Footer-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width:75% ;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ ModalTitle }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-users [user]="userModel" *ngIf="ActivateAddEditEmpComp"></app-add-edit-users>
      </div>
    </div>
  </div>
</div>
<!--End Modal -->
