<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Sites">Site(s)</a>
      </li>
    </ul>
  </div>
</div>
<!--DropDown Menu-->
<div class="btn-group" style="float : right;" *ngIf="higherGrantedRoles" >
  <button type="button" class="btn btn-info dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    <i class="material-icons">&#xE147;</i>
    <span>Create Site/Dep</span></button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#adddepartment">
        <span style="margin: 5px;">Add Department</span>
        <mat-icon>domain_add</mat-icon></button>
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addsite">
        <mat-icon>add_location</mat-icon>
        <span>Add Site</span>
      </a>
    </li>
  </ul>
</div>

<!--Start Chart-->
<div class="margins">
  <div echarts [options]="option" class="demo-chart" (chartInit)="onChartInit($event)"
    (chartClick)="onChartEvent($event)" (chartContextMenu)="onRightClick($event)">
  </div>
</div>
<!--End Chart-->

<!--Models-->
<!--Add Site-->
<div class="modal fade-centred" id="addsite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Site</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="site-name" class="col-form-label">Site Name:</label>
            <input type="text" class="form-control" id="site-name" name="sitename" [(ngModel)]="newSite.name"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="mb-3">
            <label for="site-country" class="col-form-label">Site country:</label>
            <input type="text" class="form-control" id="site-country" name="country" [(ngModel)]="newSite.country"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="mb-3">
            <label for="local" class="col-form-label">Local</label>
            <textarea class="form-control" id="local" [(ngModel)]="newSite.local" name="local" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addNewSite()">Add New Site</button>
      </div>
    </div>
  </div>
</div>
<!--End Site-->
<!--Add Department-->
<div class="modal fade" id="adddepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="department-domain" class="col-form-label">Domain:</label>
            <input type="text" class="form-control" id="department-domain" [(ngModel)]="newDepartment.domain"
              [ngModelOptions]="{standalone: true}" name="domain" required>
          </div>
          <div class="mb-3">
            <label for="department-type" class="col-form-label">TYPE:</label>
            <select class="form-select form-select-sm" aria-label="type select"
              [(ngModel)]="newDepartment.departmentType" name="type" [ngModelOptions]="{standalone: true}">
              <option selected>Select Department TYPE</option>
              <option value="CS"><b>CS</b></option>
              <option value="Department"><b>Department</b></option>
              <option value="EMEA">EMEA</option>
              <option value="Direction">Direction</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="department-site" class="col-form-label">Site:</label>
            <select class="form-select form-select-sm" aria-label="type site" [(ngModel)]="newDepartment.siteId"
              required (change)="getDepartmentsBySiteId(newDepartment.siteId)" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let site of sites" [ngValue]="site.id">{{site.name}}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="newDepartment.siteId">
            <label for="department-name" class="col-form-label">Parent-Department:</label>
            <select class="form-select form-select-sm" aria-label="select department"
              [(ngModel)]="newDepartment.departmentMotherId" required [ngModelOptions]="{standalone: true}">
              <option value="0" selected>No parent</option>
              <option *ngFor="let department of departments" [ngValue]="department.id">{{department.domain}}</option>
            </select>
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addNewDepartment()">Add Department</button>
      </div>
    </div>
  </div>
</div>
<!--End Department-->
<!--End Models-->
