.demo-chart {
  height: 100%;
  width: 100%;
  margin: 10px auto;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) '. ';
  color: red;
  font-weight: bold;
}
.margins
{
  margin: 100px;
}

.btn{
  float: right;
	color: #fff;
	float: right;
	border: none;
	border: none;
	outline: none !important;
}
