<div class="flex-lg-row-fluid ms-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header border-0 pt-5 pb-3">
            <!--begin::Card title-->
            <h3 class="card-title fw-bolder text-gray-800 fs-2">Self Assessment</h3>
            <hr>
            <!--end::Card title-->
          </div>
          <!--end::Header-->
          <!--begin::Body-->
          <div class="card-body py-0" style="margin-bottom: 5%;">
            <span class="fw-bolder fs-6 text-dark">Status : </span><span style="color : green">Active</span>
            <hr>
            <span class="fw-bolder fs-6 text-dark">Last Completed : </span>{{lastCompleted | date}}
            <hr>
            <span class="fw-bolder fs-6 text-dark">Next Due : </span>{{missingSelfAssessment == 0 ? 'No Assessment Left' : getDate(maxDate) }}
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header border-0 pt-5 pb-3">
            <!--begin::Card title-->
            <h3 class="card-title fw-bolder text-gray-800 fs-2">Superviser Assessment</h3>
            <hr>
            <!--end::Card title-->
          </div>
          <!--end::Header-->
          <!--begin::Body-->
          <div class="card-body py-0">
            <div class="card-body py-0" style="margin-bottom: 5%;">
              <span class="fw-bolder fs-6 text-dark">Superviser : </span>{{superviser}}
              <hr>
              <span class="fw-bolder fs-6 text-dark">Missing Assessments : </span>{{missingAssessments}}
              <hr>
              <span class="fw-bolder fs-6 text-dark">Next Due : </span>{{missingAssessments == 0 ? 'No MissingAssessments' : 'Soon'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-5 mb-xl-10">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 pb-3">
      <!--begin::Card title-->
      <h3 class="card-title fw-bolder text-gray-800 fs-2" *ngIf="option">Remaining Assessments</h3>
      <h3 class="card-title fw-bolder text-gray-800 fs-2" *ngIf="!option">All Assessments</h3>
      <button style="float: right;" class="button" style="vertical-align:middle" (click)="getSkills()"
        *ngIf="option"><span>Show</span></button>
      <button style="float: right;" class="button" style="vertical-align:middle" (click)="getSkills()"
        *ngIf="!option"><span>Less</span></button>
      <!--end::Card title-->
    </div>
    <!--end::Header-->
    <!--begin::Body Skills-->
    <div class="card-body py-0">
      <!--begin::Table-->
      <div class="table-responsive">
        <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
          <!--begin::Table body-->
          <tbody>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
              <th class="min-w-200px px-0">Skill</th>
              <th class="min-w-125px">Status</th>
              <th class="min-w-125px">Quiz Self Assignment Skill</th>
            </tr>
            <!--end::Table row-->
            <!--begin::Table row-->
            <tr *ngFor="let item of userSkillAssessmentNotToken">
              <!--begin::Author=-->
              <td class="p-0">
                <div class="d-flex align-items-center">
                  <!--begin::Logo-->
                  <div class="symbol symbol-50px me-2">
                    <span class="symbol-label">
                      <img alt="" class="w-25px" src="../../../../assets/skill_logo.png" />
                    </span>
                  </div>
                  <!--end::Logo-->
                  <div class="ps-3">
                    <a class="text-gray-800 fw-boldest fs-5 text-hover-primary">{{item.skillName}}</a>
                  </div>
                </div>
              </td>
              <!--end::Author=-->
              <!--begin::Progress=-->
              <td *ngIf="!item.assessmentToken">
                {{ getDate(item.assigneddAt)}}
              </td>
              <td *ngIf="item.assessmentToken">
                Passed At {{item.passedAt | date}}
              </td>
              <td>
                <div>
                  <button class="btn btn-primary" *ngIf="!item.assessmentToken && !outerProfile"
                    [routerLink]="['/Dashboard/Assessment',item.skillId]">Assesst your self Now</button>
                  <button class="btn btn--primary" *ngIf="item.assessmentToken"
                    disabled>{{item.selfAssignment}}</button>
                </div>
              </td>
              <!--end::Company=-->
            </tr>
            <!--end::Table row-->
          </tbody>
          <!--end::Table body-->
        </table>
      </div>
      <!--end::Table-->
    </div>
    <!--end::Body-->
  </div>
</div>
