<body [class]="darkMode ? 'dark' : ''">
  <!-- SIDEBAR -->
  <section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="#" class="brand">
      <img [src]="LogoImgPath" width="70" alt="MDB Logo" loading="lazy" class="imageProfile" />
    </a>
    <ul class="side-menu top">
      <li routerLink="/Dashboard/Home" routerLinkActive="active">
        <a>
          <i class='bx bxs-dashboard'></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Teams" routerLinkActive="active">
        <a>
          <i class='bx bxs-group'></i>
          <span class="text">Team</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Project" routerLinkActive="active">
        <a>
          <i class='bx bxs-folder-minus'></i>
          <span class="text">Project</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Projects/Todos" routerLinkActive="active">
        <a>
          <i class='bx bxs-file'></i>
          <span class="text">My tasks</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li routerLink="/Dashboard/Sites" routerLinkActive="active">
        <a>
          <i class='bx bxs-map'></i>
          <span class="text">Site</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Skill" routerLinkActive="active">
        <a>
          <i class='bx bxs-medal'></i>
          <span class="text">Categories and Skills</span>
        </a>
      </li>
      <li routerLink="/Dashboard/SuperViser" routerLinkActive="active" *ngIf="accessManagerRole">
        <a>
          <i class='bx bxs-cctv'></i>
          <span class="text">Superviser</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Users" routerLinkActive="active" *ngIf="accessHigherUser">
        <a>
          <i class='bx bxs-group'></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li routerLink="/Dashboard/SkillsManagment" routerLinkActive="active" *ngIf="accessHigherUser">
        <a>
          <i class='bx bxs-medal'></i>
          <span class="text">Skills Management</span>
        </a>
      </li>
      <li routerLink="/Dashboard/Roles" routerLinkActive="active" *ngIf="accessHigherUser">
        <a>
          <i class='bx bx-accessibility'></i>
          <span class="text">Roles</span>
        </a>
      </li>
      <li>
        <a routerLink="/SignIn" title="logout" (click)="signOut()" class="logout">
          <i class='bx bxs-log-out-circle'></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu'></i>
      <form>
      </form>
      <a aria-disabled="true" class="profile" routerLink="/Dashboard/Profile">
        <img [src]="imageProfile" alt="user Image Profile">
        {{userData.firstname +' '+ userData.lastname}}
      </a>
      <label class="switch">
        <input type="checkbox" [checked]="darkMode" (change)="modeChanges()">
        <span class="slider"></span>
      </label>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- MAIN -->

  </section>
  <!-- CONTENT -->

</body>
