<div class="flex-lg-row-fluid ms-lg-10">
  <!--begin::details View-->
  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card header-->
    <div class="card-header cursor-pointer">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Profile Details</h3>
      </div>
      <!--end::Card title-->
      <!--begin::Action-->
      <a class="btn btn-primary" *ngIf="!outerProfile"  style="float: right; margin-left: 5px;" (click)="editProfile()">Edit Profile</a>
      <a class="btn btn-danger" *ngIf="editUser" style="float: right;" (click)="editUser = false">cancel</a>

      <!--end::Action-->
    </div>
    <!--begin::Card header-->
    <!--begin::Card body-->
    <div class="card-body p-9">
      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Full Name</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span *ngIf="!editUser" class="fw-bolder fs-6 text-dark"> {{userData.lastname}} {{userData.firstname}} </span>
          <div class="container" *ngIf="editUser">
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="exampleInputEmail1">First name</label>
                  <input type="text" class="form-control" id="firstname" aria-describedby="FNHelp"
                    placeholder="Enter first name" [(ngModel)]="userData.firstname">
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="exampleInputEmail1">Last name</label>
                  <input type="text" class="form-control" id="lastname" aria-describedby="LNHelp"
                    placeholder="Enter last name" [(ngModel)]="userData.lastname">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end::Col-->
      </div>
      <hr>
      <!--end::Row-->
      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Contact Email</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 d-flex align-items-center">
          <span class="fw-bolder fs-6 me-2">{{userData.email}}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <hr>
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Role Granted</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
          <span class="fw-bold fs-6">{{userData.role.roleName}} </span>
        </div>
        <!--end::Col-->
      </div>
      <hr>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Site</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
          <span class="fw-bold fs-6">{{userData.siteName}} </span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
      <hr>
      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Department</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <!--Display User Department-->
          <a *ngIf="!editUser" [routerLink]="['/Dashboard/Department/',userData.departmentId]"
            class="fw-bold fs-6 text-dark text-hover-primary">{{userData.departmentDomain}} </a>
          <!--Edit User Department-->
          <div class="col-sm-2 form-group" *ngIf="editUser">
            <label for="exampleFormControlSelect2" style="width: 200px;">Select Your Department</label>
            <select [(ngModel)]="userData.departmentId" class="form-control" id="exampleFormControlSelect2"
              style="width: 200px;">
              <option *ngFor="let item of listDepartments" [ngValue]="item.id"
                [selected]="item.id == userData.departmentId" required>
                {{item.domain}}
              </option>
            </select>
          </div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
      <hr>
<div class="row mb-7">
  <!--begin::Label-->
  <label class="col-lg-4 fw-bold text-muted">Skill Level</label>
  <!--end::Label-->
  <!--begin::Col-->
  <div class="col-lg-8 fv-row">
    <div echarts [options]="option" class="demo-chart" style="background-color: white; margin: 20px;    " ></div>
  </div>
  <!--end::Col-->
</div>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::details View-->
</div>
