<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Skill">Skills And Categories</a>
      </li>
    </ul>
  </div>
</div><div class="containerForm">
  <!-- Begin row -->
  <div class="row">
    <!-- Begin col -->
    <div class="col-sm">
      <h6 style="color: white"><b>Choose a category</b></h6>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="idCategory"
        (change)="onChangeCategory()">
        <option *ngFor="let item of categories ;let i = index" [value]="item.id" [selected]="choosenCategory.id == item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
</div>
<div>
<hr>
<h5>Skills</h5>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of choosenCategory.skills; let i = index" [class]="i == 0 ? 'active' : null"  >
		<article class="postcard dark blue">
			<a class="postcard__img_link">
				<img class="postcard__img" src="../../../../assets/CxrL.gif" alt="Image Title"/>
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a>{{item.name}}</a></h1>
				<div class="postcard__subtitle small">
					<time>
						<i class="fas fa-calendar-alt mr-2"></i>{{choosenCategory.updatedAt | date}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{item.description}}</div>
				<ul class="postcard__tagbox">
					<li *ngFor="let keyword of item.keywords" class="tag__item"><mat-icon style="margin-right: 5px;"> vpn_key</mat-icon>{{keyword}}</li>
				</ul>
        <button class="btn btn-primary" [routerLink]="['/Quizz',item.id]">take Quizz skill Test</button>
			</div>
		</article>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
