<div class="container">
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Assess People</h2><br>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">User name</th>
              <th scope="col">Self Assessment </th>
              <th scope="col">Superviser Assessment</th>
              <th scope="col" colspan="2">Assess Now</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataitem of UserInfoList;let i=index">
              <td>{{dataitem.userName}}</td>
              <td>
                <span class="badge rounded-pill bg-success" *ngIf="dataitem.selfAssignment">Assesed</span>
                <span class="badge rounded-pill bg-danger" *ngIf="!dataitem.selfAssignment">
                  Not Yet </span>
              </td>
              <td><span class="badge rounded-pill bg-success" *ngIf="dataitem.assesed">Assesed </span>
                <span class="badge rounded-pill bg-danger" *ngIf="!dataitem.assesed">
                  Not Yet</span>
              </td>
              <td><button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  data-bs-backdrop="static" data-bs-keyboard="false"
                  [routerLink]="['/Dashboard/Assessment/', dataitem.userId]" [queryParams]="{assessing: true}"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
