.example-ripple-container {
  cursor: pointer;
  text-align: center;
  width: 30%px;
  height: 150px;
  line-height: 90px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 10px;
  border-radius: 10px;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.card{
  margin :10px;
  width: 30%px;

}

.containerForm {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 6%;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #ffffff 0%,
    rgb(255, 255, 255) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
textarea {
  font    : .9em/1.5em "handwriting", sans-serif;

  border  : .9em/1.5em "handwriting", sans-serif;
  padding : 0 10px;
  margin  : 0;
  width   : 100%;

  background: none;
}
.form-group
{
  margin: 5% 0;}

.example-chip-list {
  width: 100%;
}
