
<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/SkillsManagment">Skills Managment</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active">Skills Details</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4" *ngIf="id != null" >
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="example-ripple-container mat-elevation-z4" (click)="addQuestion()"
            matRipple>
            <div>
              <button mat-mini-fab color="primary" aria-label="add new question" >
                <mat-icon>add</mat-icon>
              </button>
              <hr>
              <h6>Add Question</h6>
            </div>
       </div>
          </div>

        </div>
        <div class="row" *ngFor="let item of allQuestions" >
          <div class="col">
            <div class="card w-75">
              <div class="card-body">
                <h5 class="card-title">{{item.questionText}}</h5>
                <p class="card-text">{{item.explanation}}</p>
                <a class="btn btn-primary" (click)="openQuestion(item)">Open</a>
              </div>
            </div>

        </div></div>
      </div>
    </div>
    <div class="col-8">
      <div class="containerForm">
        <!--Question Form-->
        <div *ngIf="id != null && mode == 'question'" >
          <div class="container">
            <div class="row">
              <div class="col">
                <h2>Question Form</h2>
                <button  class="btn btn-primary" type="button" (click)="saveQuestion(f)">Save Question</button>
                <button *ngIf="question.questionText != ''"  style="margin-left:5px"  class="btn btn-danger" type="button" (click)="deleteQuestion()">Delete Question</button>

              </div>
              <div class="col-md-auto">
              </div>
              <div class="col col-lg-2">
                <button type="button" class="btn-close" aria-label="Close" style="right: 0;" (click)="mode = 'skill'"></button>
              </div>
            </div>
          </div>

          <br>
          <form #f="ngForm" (ngSubmit)="saveQuestion(f)">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write Your question here</label>
                <textarea [(ngModel)]="question.questionText" name="question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write Your Explaination for the question here</label>
                <textarea [(ngModel)]="question.explanation" name="explaination" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Option</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="text" ngModel required #text="ngModel"  aria-describedby="emailHelp" placeholder="Enter option here">
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Answer : </legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" required [value]="true" name="correct" ngModel #correct="ngModel" id="true" checked="checked">
                      <label class="form-check-label" for="true">
                        True
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" required [value]="false" name="correct" ngModel #correct="ngModel" id="false">
                      <label class="form-check-label" for="false">
                        false
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            <button type="button" (click)="addNewOption(f)" class="btn btn-primary">Add option</button>
          </form>
          <br>
          <hr>
          <h3>Options</h3>
          <p style="color: red;"> <b>PS : </b> please try to make only one answer is correct </p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Text</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of question.options; let i = index" >
                <td>{{item.text}}</td>
                <td>
                  <div *ngIf="item.correct == true"  class="alert alert-success" role="alert">
                    This is the correct Answer
                  </div>
                  <div *ngIf="item.correct == false" class="alert alert-danger" role="alert">
                    False one !!
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-danger mr-1"
                  (click)="deleteItem(i)"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
            </button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Skill Form-->
        <div *ngIf="mode == 'skill'" >
          <h2>Skill Form</h2>
          <br>
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write name of the skill here</label>
                <textarea [(ngModel)]="skill.name" name="question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write Your Description for the skill here</label>
                <textarea [(ngModel)]="skill.description" name="explaination" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="input-group">
              <span class="input-group-text">Level</span>
              <input type="number" [max]="10" [(ngModel)]="skill.level" name="level"aria-label="First name" class="form-control">
            </div>
            <div class="form-group">
              <label for="department-name" class="col-form-label">Category: <span *ngIf="categoryChosen ===undefined" >{{skill.categoryName}}</span></label>
              <select class="form-select form-select-sm" aria-label="select department" [(ngModel)]="categoryChosen" required  [ngModelOptions]="{standalone: true}">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
            </div>
          </form>
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Keywords</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter keyword">
              <mat-chip-row *ngFor="let keyword of keywords"
                            (removed)="remove(keyword)"
                            [editable]="true"
                            (edited)="edit(keyword, $event)"
                            [aria-description]="'press enter to edit ' + keyword">
                {{keyword}}
                <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New keyword..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-grid>
          </mat-form-field>
          <button  class="btn btn-primary" type="button" (click)="onSubmitSkillForm()">Save Skill</button>
        </div>
      </div>
    </div>
  </div>
</div>
