<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Project">Projects</a>
      </li>
    </ul>
  </div>
</div>
<!-- Wrapper Start -->
<div class="wrapper">

  <div class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                <h5>Your Projects</h5>
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                  <div class="dropdown status-dropdown mr-3">
                    <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                      <div class="btn bg-body"><span class="h6">Status :</span> {{type}}
                        <i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                      <a class="dropdown-item" (click)="filterProjects('open')"><i class="ri-mic-line mr-2"></i>Open</a>
                      <a class="dropdown-item" (click)="filterProjects('closed')"><i
                          class="ri-attachment-line mr-2"></i>Closed</a>
                      <a class="dropdown-item" (click)="filterProjects('all')"><i
                          class="ri-file-copy-line mr-2"></i>All</a>
                    </div>
                  </div>
                  <div class="pl-3 border-left btn-new" *ngIf="accessUser">
                    <button (click)="openModel()" type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#exampleModalCenter">
                      New Project
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="list" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
        <div class="row">
          <div class="col-lg-6" *ngFor="let item of filtredProjects">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="d-flex align-items-center">
                      <div class="ml-3">
                        <h5 class="mb-1">{{item.projectName}}</h5>
                        <p class="mb-0">{{item.projectDesc}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                    <mat-icon class="pointer" color="primary"
                      [routerLink]="['/Dashboard/Project',item.id]">folder_open</mat-icon>
                    <mat-icon color="warn" class="pointer" *ngIf="accessUser"
                      (click)="deleteProject(item.id)">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page end  -->
    </div>
  </div>
</div>
<!-- Wrapper End-->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Project Name</label>
            <input type="text" class="form-control" [(ngModel)]="newProject.projectName" name="projectName">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Project Description</label>
            <input type="text" class="form-control" [(ngModel)]="newProject.projectDesc" name="projectDesc">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Estimated End date</label>
            <input type="date" class="form-control" [(ngModel)]="newProject.endDate" name="endDate"
              id="exampleInputPassword1" placeholder="Password">
          </div>
          <select class="form-control form-control-sm" name="team" [(ngModel)]="newProject.idteam">
            <option *ngFor="let item of teams" [value]="item.id">{{item.name}}</option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
