                <div class="container">
                  <div class="row">
                    <div class="col-2 col-md-4"style="width: 250px">
                      <div >
                        <!--begin::Card-->
                        <div class="card card-flush">
                          <!--begin::Card body-->
                          <div class="card-body">
                            <!--begin::Summary-->
                            <div class="d-flex flex-center flex-column mb-10">
                              <!--begin::Avatar-->
                              <div [class]="outerProfile ? 'profile-pic2' : 'profile-pic'">
                                <label class="-label" for="file" *ngIf="!outerProfile" >
                                  <span class="glyphicon glyphicon-camera"></span>
                                  <span>Change Image</span>
                                </label>
                                <input *ngIf="!outerProfile" id="file" type="file" (change)="onImageUpload($event)"/>
                                <img [src]="imageProfile" id="output" width="200" alt="Profile Picture"/>
                              </div>
                              <!--end::Avatar-->
                              <!--begin::Name-->
                              <a class="fs-2 text-gray-800 text-hover-primary1 fw-bolder mb-1">{{userData.firstname}} {{userData.lastname}}</a>
                              <!--end::Name-->
                              <!--begin::Position-->
                              <div class="fs-6 fw-bold text-gray-400 mb-2" style="text-align: center;">{{userData.role.job_title}} </div>
                              <!--end::Position-->
                            </div>
                            <!--end::Summary-->
                            <!--begin::Menu-->
                            <ul class="menu menu-column menu-pill menu-title-gray-700 menu-bullet-gray-300 menu-state-bg menu-state-bullet-primary fw-bolder fs-5 mb-10">
                              <!--begin::Menu item-->
                              <li class="menu-item mb-1" (click)="goToPage('OverView')">
                                <!--begin::Menu link-->
                                <a class="menu-link px-6 py-4" routerLinkActive="active">
                                  <span class="menu-bullet">
                                    <span class="bullet"></span>
                                  </span>
                                  <span class="menu-title">Overview</span>
                                </a>
                                <!--end::Menu link-->
                              </li>
                              <!--end::Menu item-->
                              <!--begin::Menu item-->
                              <li class="menu-item mb-1"  (click)="goToPage('Skills')">
                                <!--begin::Menu link-->
                                <a class="menu-link px-6 py-4" routerLinkActive="active">
                                  <span class="menu-bullet">
                                      <span class="bullet"></span>
                                  </span>
                                  <span class="menu-title">Skills</span>
                                </a>
                                <!--end::Menu link-->
                              </li>
                               <!--begin::Menu item-->
                               <li class="menu-item mb-1" *ngIf="!outerProfile || accessUser" (click)="goToPage('Assessment')">
                                <!--begin::Menu link-->
                                <a class="menu-link px-6 py-4" routerLinkActive="active">
                                  <span class="menu-bullet">
                                    <span class="bullet"></span>
                                </span>
                                  <span class="menu-title">Assessment</span>
                                </a>
                                <!--end::Menu link-->
                              </li>
                              <!--end::Menu item-->
                              <!--end::Menu item-->
                            </ul>
                            <!--end::Menu-->
                          </div>
                          <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8"style="width:75%">
                      <router-outlet></router-outlet>
                    </div>
                  </div>
                </div>
								<!--begin::Sidebar-->

								<!--end::Sidebar-->
								<!--begin::Content-->

		<!--end::Root-->





