<div class="container">
  <img src="../../../assets/soprahr_0.png" alt="">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
   <h2>Sign In</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"><br>
     <!-- Email input -->
      <mat-form-field class="form-group mb-3">
        <mat-label
          class="form-label"
          for="Email"
        >
        <i class="me-3"> <mat-icon> email</mat-icon></i> Email address
        </mat-label>
        <input
          matInput
          type="email"
          id="email"
          formControlName="email"
          [errorStateMatcher]="matcher"
          name="email"
          required
          />
        <mat-error
            *ngIf="email?.hasError('email') && !email?.hasError('required')">
            Please enter a valid <strong>email</strong> address
        </mat-error>
        <mat-error
            *ngIf="email?.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Password input -->
      <mat-form-field class="form-group mb-3" appearance="fill">
        <mat-label
          class="form-label"
          for="password"
        >
        <i class="me-3"><mat-icon>lock</mat-icon></i> Password
        </mat-label>
        <input
          matInput
          type="password"
          id="password"
          formControlName="password"
          [errorStateMatcher]="matcher"
          [type]="hide ? 'password' : 'text'"
          name="password"
          required
        />
        <button
          type="button"
          mat-icon-button matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
        *ngIf="password?.hasError('minlength') && !password?.hasError('required')"
        >
          Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
        </mat-error>
        <mat-error
          *ngIf=" password?.hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>

      </mat-form-field>
      <!--Login Button -->
      <div class="text-center">
        <button
          mat-raised-button
          type="submit"
          color="warn"
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Login  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </div>
    </form>
</div>
