<!--begin::Body-->
<div class="head-title">
  <div class="left">
    <h1>Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active">Home</a>
      </li>
    </ul>
  </div>
</div>
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Container-->
      <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <!--begin::Post-->
        <div class="content flex-row-fluid" id="kt_content">
          <!--begin::Index-->
          <div class="card card-page">
            <!--begin::Card body-->
            <div class="card-body">
              <!--begin::Row-->
              <div class="row gy-5 g-xl-8">
                <!--begin::Col-->
                <div class="col-xxl-6">
                  <!--begin::Table Widget 1-->
                  <div class="card card-xxl-stretch">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5 pb-3">
                      <!--begin::Card title-->
                      <h3 class="card-title fw-bolder text-gray-800 fs-2" style="cursor: pointer;"
                        routerLink="/Dashboard/Projects/Todos">Tasks in progress ({{todoList.length}})</h3>
                      <!--end::Card title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-0">
                      <!--begin::Table-->
                      <div class="table-responsive">
                        <table class="table align-middle table-row-bordered table-row-dashed gy-5"
                          id="kt_table_widget_1">
                          <!--begin::Table body-->
                          <tbody>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
                              <th class="min-w-200px px-0">Task Name</th>
                              <th class="min-w-125px">Progress</th>
                              <th class="text-end pe-2 min-w-70px">View</th>
                            </tr>
                            <!--end::Table row-->
                            <!--begin::Table row-->
                            <tr *ngFor="let item of todoList.slice(0,6);">
                              <!--begin::Author=-->
                              <td class="p-0">
                                <div class="d-flex align-items-center">
                                  <!--begin::Logo-->
                                  <div class="symbol symbol-50px me-2">
                                    <span class="symbol-label">
                                    </span>
                                  </div>
                                  <!--end::Logo-->
                                  <div class="ps-3">
                                    <a [routerLink]="['/Dashboard/Project', item.projectId, 'Todos',item.id]"
                                      class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">{{item.name}}</a>
                                    <span class="text-gray-400 fw-bold d-block">{{countCheckList(item)}} Sub tasks
                                      Completed</span>
                                  </div>
                                </div>
                              </td>
                              <!--end::Author=-->
                              <!--begin::Progress=-->
                              <td>
                                <div class="d-flex flex-column w-100 me-2 mt-2">
                                  <span class="text-gray-400 me-2 fw-boldest mb-2">{{item.progress}}%</span>
                                  <div class="progress bg-light-danger w-100 h-5px">
                                    <mat-progress-bar mode="determinate" [value]="item.progress"></mat-progress-bar>
                                  </div>
                                </div>
                              </td>
                              <!--end::Company=-->
                              <!--begin::Action=-->
                              <td class="pe-0 text-end">
                                <a [routerLink]="['/Dashboard/Project', item.projectId, 'Todos',item.id]"
                                  class="btn btn-sm btn-icon btn-color-gray-500 btn-active-color-primary"
                                  data-kt-menu-trigger="click" data-kt-menu-overflow="true"
                                  data-kt-menu-placement="bottom-start">
                                  <!--begin::Svg Icon | path: icons/duotune/general/gen023.svg-->
                                  <span class="svg-icon svg-icon-2x">
                                    <mat-icon>open_in_new</mat-icon>
                                  </span>
                                  <!--end::Svg Icon-->
                                </a>
                              </td>
                              <!--end::Action=-->
                            </tr>
                            <!--end::Table row-->
                          </tbody>
                          <!--end::Table body-->
                        </table>
                      </div>
                      <!--end::Table-->
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::Table Widget 1-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xxl-6">
                  <!--begin::Row-->
                  <div class="row g-5 g-xl-8">
                    <!--begin::Col-->
                    <div class="col-xxl-6">
                      <!--begin::Statistics Widget 1-->
                      <div class="card card-xxl-stretch-50 mb-5 mb-xl-8" style="cursor: pointer;"
                        routerLink="/Dashboard/Projects/Todos">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                          <!--begin::Hidden-->
                          <div class="d-flex flex-column px-9 pt-5">
                            <!--begin::Number-->
                            <div class="text-success fw-boldest fs-2hx">{{completedTasks}}</div>
                            <!--end::Number-->
                            <!--begin::Description-->
                            <span class="text-gray-400 fw-bold fs-6">Completed Tasks</span>
                            <!--end::Description-->
                          </div>
                          <!--end::Hidden-->
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Statistics Widget 1-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xxl-6">
                      <!--begin::Mixed Widget 2-->
                      <div class="card card-xxl-stretch-50 mb-5 mb-xl-8" style="cursor: pointer;"
                        routerLink="/Dashboard/Project">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                          <!--begin::Hidden-->
                          <div class="d-flex flex-column px-9 pt-5">
                            <!--begin::Number-->
                            <span class="text-primary fw-boldest fs-2hx">{{projectsList.length}}</span>
                            <!--end::Number-->
                            <!--begin::Description-->
                            <span class="text-gray-400 fw-bold fs-6">Projects</span>
                            <!--end::Description-->
                          </div>
                          <!--end::Hidden-->
                        </div>
                      </div>
                      <!--end::Mixed Widget 2-->
                    </div>
                    <!--end::Col-->
                  </div>
                  <!--end::Row-->
                  <div class="card card-xxl-stretch-50" style="background-color: #adb7d1">
                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end p-0 pt-10">
                      <!--begin::Wrapper-->
                      <div class="flex-grow-1 ps-9 pb-9">
                        <div class="margins">
                          <div echarts [options]="optionSubTasks" (chartInit)="onChartInit($event)"
                            (chartClick)="onChartEvent($event)" class="demo-chart">
                          </div>
                        </div>
                      </div>
                      <!--end::Wrapper-->
                    </div>
                    <!--end::Card body-->
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->

              <!--begin::Row-->
              <div class="row g-5 g-xl-8" style="margin-top: 10px;">
                <!--begin::Col-->
                <div class="col-xxl-6">
                  <!--begin::List Widget 4-->
                  <div class="card card-xl-stretch mb-5 mb-xl-8" style="background-color: #adb7d1; padding:10px ;">
                    <!--begin::Body-->
                    <div class="card-body pt-1">
                      <div echarts [options]="optionSkills" class="demo-chart" style="background-color: #adb7d1;"></div>
                      <!--begin::Alert-->
                      <div class="rounded border border-primary bg-light-primary border-dashed px-6 py-5">
                        <a routerLink="/Dashboard/Profile/Skills" class="link-primary fw-bolder fs-6 me-1">Unlock Your
                          Full Potential</a>
                        <span class="text-gray-800 fw-bold fs-6">Master Skills, Ace Quizzes, and Score Big!</span>
                      </div>
                      <!--end::Alert-->
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::List Widget 4-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xxl-6">
                  <!--begin::List Widget 5-->
                  <div class="card card-xl-stretch mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body pt-5">
                      <div echarts [options]="optionCategory" class="demo-chart" style="background-color: white;"></div>
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::List Widget 5-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Index-->
        </div>
        <!--end::Post-->
      </div>
      <!--end::Container-->

    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Root-->
<!--begin::Drawers-->
