<app-spinner class="spinner"
*ngIf="loading$ | async"
>
</app-spinner>
<router-outlet></router-outlet>

<!-- https://github.com/prabinmagar/medimoor-hospital-website-design-using-html-css-and-js.git -->
<!--https://morioh.com/p/4fee85c3cfa6-->
