
<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/SkillsManagment">Skills Managment</a>
      </li>
    </ul>
  </div>
</div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="	float: right;" > Create New Category</button>
<div class="containerForm">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h6><b>Category</b></h6>
        <select class="form-select" aria-label="Default select example" (change)="changeCategory($event)">
          <option selected>Open to select Category</option>
          <option *ngFor="let item of categoryData"  [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-sm">
        <button type="button" (click)="deleteCategory()" style="float: right; margin-top: 15px;" class="btn btn-danger ">
          <i class="fas fa-trash"></i>  delete category
        </button>
      </div>
    </div>
  </div>
</div>
<div class="containerTable">
  <!-- Table with panel -->
<div class="card card-cascade narrower">

  <!--Card image-->
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <button class="btn btn-primary" style="	float: right;" routerLink="/Dashboard/AddSkill"  > Create New Skill</button>


    <a class="white-text mx-3">Category Dispalyed : <b>{{categoryChosen.name}}</b></a>

    <div>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fas fa-pencil-alt mt-0"></i>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="far fa-trash-alt mt-0"></i>
      </button>
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
        <i class="fas fa-info-circle mt-0"></i>
      </button>
    </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="table table-hover mb-0">

        <!--Table head-->
        <thead>
          <tr>
            <th class="th-lg">
              <a>Skill Name
              </a>
            </th>
            <th class="th-lg">
              <a>Edit Skill
              </a>
            </th>
            <th class="th-lg">
              <a>Delete Skill
              </a>
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr *ngFor="let item of categoryChosen.skills" >
            <td>{{item.name}}</td>
            <td>
              <button type="button" class="btn btn-light mr-1"
              data-bs-backdrop="static" data-bs-keyboard="false" [routerLink]="['/Dashboard/EditSkill', item.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger mr-1" (click)="deleteSkill(item.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
        <!--Table body-->

      </table>

      <!--Table-->
    </div>


  </div>

</div>
<!-- Table with panel -->
<div>
</div>
</div>


<!--Edit Department-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="department-domain" class="col-form-label">Name : </label>
            <input type="text" class="form-control" id="department-domain" [(ngModel)]="newCategory"  name="domain" required>
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addCategory()" >Add Category</button>
      </div>
    </div>
  </div>
</div>
<!--End Department-->
