
.containerForm {
  height: 10%;
  width: 50%;
  position: relative;
  padding: 1%;
  margin-top: 6%;
  margin-left: 15%;
  margin-right: 15%;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgb(39, 33, 194);
  background: rgb(155, 198, 53);
  background: linear-gradient(45deg,
      #e04242 0%,
      rgb(39, 33, 194) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.search-hover {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}
.containerTable {
    height: 10%;
  position: relative;
  padding: 1%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;

  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #ffffff 0%,
    rgb(255, 255, 255) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
