<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Projects/Todos">Tasks</a>
      </li>
    </ul>
  </div>
</div>
<!-- Wrapper Start -->
<div class="wrapper">
  <div class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                <h5>Your Tasks</h5>
                <div class="d-flex flex-wrap align-items-center">
                  <div class="dropdown dropdown-project mr-3">
                    <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                      <div class="btn bg-body"><span class="h6">Project :</span>{{projectChosen != null ? projectChosen
                        : 'All'}}<i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                      <a class="dropdown-item" *ngFor="let item of projects"
                        (click)="getTodosByProjectId(item?.id,item?.projectName)">{{item?.projectName}}</a>
                    </div>
                  </div>
                  <div class="dropdown dropdown-project mr-3">
                    <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                      <div class="btn bg-body"><span class="h6">Status :</span>{{statusChosen}}<i
                          class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                      <a class="dropdown-item" (click)="getTodosByStatus('all')">All</a>
                      <a class="dropdown-item" (click)="getTodosByStatus('open')">Open</a>
                      <a class="dropdown-item" (click)="getTodosByStatus('completed')">Completed</a>
                      <a class="dropdown-item" (click)="getTodosByStatus('inProgress')">In Progress</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12" *ngFor="let item of todoList">
          <div class="card pointer" [routerLink]="['/Dashboard/Project', item.projectId, 'Todos',item.id]">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card card-widget task-card mb-0">
                    <div class="card-body">
                      <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <div class="custom-control custom-task custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck26" disabled
                              [checked]="item.progress == 100">
                            <label class="custom-control-label" for="customCheck26"></label>
                          </div>
                          <div>
                            <h5 class="mb-2">{{item.name}}</h5>
                            <div class="media align-items-center">
                              <div class="btn bg-body mr-3"><i
                                  class="ri-align-justify mr-2"></i>{{countCheckList(item)}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="media align-items-center mt-md-0 mt-3">
                          <a href="#" class="btn bg-secondary-light" *ngIf="item?.priorty == 'High'">High</a>
                          <a href="#" class="btn bg-info-light" *ngIf="item?.priorty == 'Medium'">Meduim</a>
                          <a href="#" class="btn bg-success-light" *ngIf="item?.priorty == 'Low'">Low</a>

                        </div>
                        <div class="form-group mb-0">
                          <label for="exampleInputText01" class="h5">Progress : {{item.progress}} %</label>
                          <div class="custom-file">
                            <mat-progress-bar mode="determinate" [value]="item.progress"></mat-progress-bar>
                          </div>
                          <h5 class="mb-2">Status : {{item.status}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse" id="collapseEdit5">
                    <div class="card card-list task-card">
                      <div class="card-header d-flex align-items-center justify-content-between px-0 mx-3">
                        <div class="header-title">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck27">
                            <label class="custom-control-label h5" for="customCheck27">Mark as done</label>
                          </div>
                        </div>
                        <div><a href="#" class="btn bg-secondary-light">Design</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page end  -->
    </div>
  </div>
</div>
<!-- Wrapper End-->
