
<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/SuperViser">Superviser windows</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active">{{page}}</a>
      </li>
    </ul>
  </div>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/Dashboard/SuperViser/Assign" routerLinkActive="active" (click)="page = 'assign Skills people'"><i class="fas fa-users"></i> assign Skills people</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Dashboard/SuperViser/Assess" routerLinkActive="active"  (click)="page = 'Assesst People'"><i class="fas fa-building"></i> Assesst People</a>
  </li>
</ul>
<hr>
<router-outlet></router-outlet>
