<div class="flex-lg-row-fluid ms-lg-10">
<div class="card mb-5 mb-xl-10">


  <!--begin::Header-->
  <div class="card-header border-0 pt-5 pb-3">
    <!--begin::Card title-->
    <select class="form-select fw-bold w-125px" data-control="select2" data-placeholder="Status" data-hide-search="true" (change)="changeMode()">
      <option value="Skill" selected="selected">Skill</option>
      <option value="Category">Category</option>
    </select>
    <!--end::Card title-->
  </div>
  <!--end::Header-->

  <!--begin::Body Skills-->
  <div class="card-body py-0" *ngIf="mode" >
    <!--begin::Table-->
    <div class="table-responsive">
      <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
        <!--begin::Table body-->
        <tbody>
          <!--begin::Table row-->
          <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
            <th class="min-w-200px px-0">Skill</th>
            <th class="min-w-125px">SelfAss/Avg</th>
            <th class="min-w-125px">Test Assignment Skill</th>
          </tr>
          <!--end::Table row-->
          <!--begin::Table row-->
          <tr *ngFor="let skill of this.userSkillData?.skills">
            <!--begin::Author=-->
            <td class="p-0">
              <div class="d-flex align-items-center">
                <!--begin::Logo-->
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img alt="" class="w-25px" src="../../../../assets/skill_logo.png" />
                  </span>
                </div>
                <!--end::Logo-->
                <div class="ps-3">
                  <a href="" class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">{{skill?.skillName}}</a>
                </div>
              </div>
            </td>
            <!--end::Author=-->
            <!--begin::Progress=-->
            <td>
              {{skill?.selfAssignment}} / {{skill?.supervisorAssignment ? "Level has been set by Superviser" : "Still not Supervised"}} / {{skill?.avgLevel}}
            </td>
            <td>

              <div *ngIf="skill?.testToken">
                <mat-progress-bar mode="determinate" [value]="skill?.scroce"></mat-progress-bar>  {{skill?.scroce}}%
              </div>
              <div *ngIf="!skill?.testToken && !outerProfile">
                  <button class="btn btn-active-color-primary" (click)="router.navigate(['/Quizz/',skill.skillId])">Take Test Skill</button>
              </div>
            </td>

            <!--end::Company=-->
          </tr>
          <!--end::Table row-->
        </tbody>
        <!--end::Table body-->
      </table>
    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
  <!--begin::Body Category-->
  <div class="card-body py-0" *ngIf="!mode" >
    <!--begin::Table-->
    <div class="table-responsive">
      <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
        <!--begin::Table body-->
        <tbody>
          <!--begin::Table row-->
          <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
            <th class="min-w-200px px-0">Category</th>
            <th class="min-w-125px">SelfAss</th>
            <th class="min-w-125px">Required Level</th>
          </tr>
          <!--end::Table row-->
          <!--begin::Table row-->
          <tr *ngFor="let category of this.RadarData.indicator;let i = index">
            <!--begin::Author=-->
            <td class="p-0">
              <div class="d-flex align-items-center">
                <!--begin::Logo-->
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img alt="" class="w-25px" src="../../../../assets/skill_logo.png" />
                  </span>
                </div>
                <!--end::Logo-->
                <div class="ps-3">
                  <a href="../dist/account/overview.html" class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">{{category.name}}</a>
                </div>
              </div>
            </td>
            <!--end::Author=-->
            <!--begin::Progress=-->
              <td>
                {{  this.RadarData.data[0].value[i]}}
              </td>
            <td>
              {{  this.RadarData.data[1].value[i]}}
            </td>

            <!--end::Company=-->
          </tr>
          <!--end::Table row-->
        </tbody>
        <!--end::Table body-->
      </table>
    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>

<!--Chart Skills Diagramm-->
<div class="card mb-5 mb-xl-10" *ngIf="mode" >

  <!--begin::Header-->
  <div class="card-header border-0 pt-5 pb-3">
    <!--begin::Card title-->
    <h3 class="card-title fw-bolder text-gray-800 fs-2">Diagramm </h3>
    <!--end::Card title-->
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body py-0">
<div echarts [options]="optionDynamic" class="demo-chart" style="background-color: white;" ></div>
</div>
</div>
<!--Chart Category RADAR-->
<div class="card mb-5 mb-xl-10" *ngIf="!mode" >

  <!--begin::Header-->
  <div class="card-header border-0 pt-5 pb-3">
    <!--begin::Card title-->
    <h3 class="card-title fw-bolder text-gray-800 fs-2">Projections </h3>
    <!--end::Card title-->
  </div>
  <!--end::Header-->

  <!--begin::Body-->
<div class="card-body py-0">
  <div echarts [options]="option" class="demo-chart" style="background-color: white; margin: 20px;    " ></div>
  </div>
</div>
</div>
