<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Roles">Roles Managment</a>
      </li>
    </ul>
  </div>
</div>
<button class="Btn"  type="button" data-toggle="modal" data-target="#exampleModal">Add
  <svg class="svg" viewBox="0 0 512 512">
    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
</button>
<mat-grid-list cols="5" rowHeight="1:2" class="mat-grid-list">
  <mat-grid-tile [colspan]="2"  >
    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [isExpanded]="true">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{node.name}}&nbsp;&nbsp;<mat-icon style="color: orange;" (click)="modifier(node.name)">edit</mat-icon> |<mat-icon style="color: red;" (click)="deleteJobTitle(node.name)">delete</mat-icon>
      <input type="text" name="roleName" [(ngModel)]="jobTitle" *ngIf="roleName == node.name" >&nbsp;&nbsp; <button *ngIf="roleName == node.name" class="btn btn-primary" (click)="modifier(node.name)">Change</button>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild;" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'note'}}
        </mat-icon>
      </button>
      {{node.name}}&nbsp;&nbsp;<mat-icon style="color: red;" (click)="deleteJobTitle(node.name)">delete</mat-icon>|<mat-icon style="color: green;" (click)="addJobTitle(node.name)">playlist_add</mat-icon>
      <input type="text" name="roleName" [(ngModel)]="jobTitle" *ngIf="roleName == node.name" >&nbsp;&nbsp; <button class="btn btn-primary" *ngIf="roleName ==node.name" (click)="addJobToDatabase(node.name,jobTitle,0)">Add</button> &nbsp;&nbsp; <button class="btn btn-danger" *ngIf="roleName ==node.name" (click)="roleName = ''">Cancel</button>
    </mat-tree-node>
  </mat-tree>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div echarts [options]="option" class="demo-chart"></div>
  </mat-grid-tile>
</mat-grid-list>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Role Name:</label>
            <input type="text" class="form-control" id="roleName" [(ngModel)]="newRole.roleName">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Job Title :</label>
            <input type="text" class="form-control" id="job_title" placeholder="No Job Title For now !!" [(ngModel)]="newRole.job_title">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewRole()">Save changes</button>
      </div>
    </div>
  </div>
</div>


