html, body {
  min-height: 100%;
  }
  body, div, form, input, p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  h1 {
  font-weight: 400;
  }
  h4 {
  margin-bottom: 0;
  }
  hr {
  margin: 20px 0;
  }
  span.required {
  color: red;
  }
  .main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  }
  form {
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 5px #ccc;
  background: #fff;
  }
  th, td {
  width: 5%;
  text-align: center;
  vertical-align: unset;
  line-height: 18px;
  font-weight: 200;
  word-break: break-all;
  }
  .first-col {
  width: 38%;
  text-align: left;
  }
  textarea:hover {
  border: 1px solid #095484;
  outline: none;
  }
  .comments-block, .radio-block {
  margin: 30px 0;
  }
  .comments, question, .answer, .question-answer, table {
  width: 100%;
  }
  .comments {
  margin: 0;
  }
  small {
  display: block;
  line-height: 18px;
  opacity: 0.5;
  }
  textarea {
  width: calc(100% - 6px);
  }
  .question-answer >div {
  display: inline-block;
  margin-left: 30px;
  }
  .btn-block {
  text-align: center;
  margin: 30px;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  button:hover {
  background: #0666a3;
  }
  @media (min-width: 568px) {
  .comments-block, .radio-block {
  display: flex;
  justify-content: space-between;
  }
  .comments  {
  width: 30%;
  }
  .answer {
  width: 70%;
  }
  .question, .question-answer {
  width: 50%;
  }
  th, td {
  word-break: keep-all;
  }
  table{
    margin: 20px;
  }
  }
