<div class="main-block">
  <form>
    <h1>Skill Evaluation Form</h1>
   <div *ngIf="!assessing" >
    <p>SopraHr provides This Evaluation form to take your self assessment as Concideration</p>
    <h3>Rate your self using the following scale:</h3>
   </div>
   <div *ngIf="assessing && accessUser">
    <p>SopraHr provides This Evaluation form to take superviser assessment as Concideration</p>
    <h3>Rate your employee using the following scale:</h3>
   </div>
    <p>1 - 3 : Basic Level in this Skill</p>
    <p>3 - 6 : Midum Level in this Skill</p>
    <p>6 - 9 : Have Good idea in this Skill</p>
    <p>10    : Proffessinall in this skill</p>
    <div *ngIf="!assessing">
      <hr>
      <h4>Category name : {{skill.categoryName }}<span class="required">*</span></h4>
      <table >
        <tr>
          <th class="first-col"></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
        </tr>
        <tr>
          <td class="first-col">{{skill.name}}</td>
          <td><input type="radio" value="1" [checked]="value == 1"  [name]="userSkillInfo" (click)="value =1" /></td>
          <td><input type="radio" value="2" [checked]="value == 2"  [name]="userSkillInfo" (click)="value =2" /></td>
          <td><input type="radio" value="3" [checked]="value == 3"  [name]="userSkillInfo"  (click)="value =3"/></td>
          <td><input type="radio" value="4" [checked]="value == 4"  [name]="userSkillInfo"  (click)="value =4"/></td>
          <td><input type="radio" value="5" [checked]="value === 5"  [name]="userSkillInfo"  (click)="value =5"/></td>
          <td><input type="radio" value="6" [checked]="value == 6"   [name]="userSkillInfo"  (click)="value =6" /></td>
          <td><input type="radio" value="7" [checked]="value == 7"  [name]="userSkillInfo"  (click)="value =7"/></td>
          <td><input type="radio" value="8" [checked]="value == 8"  [name]="userSkillInfo"   (click)="value =8"/></td>
          <td><input type="radio" value="9" [checked]="value == 9"  [name]="userSkillInfo"  (click)="value =9"/></td>
          <td><input type="radio" value="10" [checked]="value ==10"   [name]="userSkillInfo"  (click)="value =10"/></td>
        </tr>
      </table>
    </div>
    <div *ngIf="assessing && accessUser">
      <hr>
      <table class="table">
        <tr>
          <th class="first-col"><h5>Skill name</h5></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
        </tr>
        <tr *ngFor="let item of listSkills" >
          <td class="first-col">{{item.skillName }}</td>
          <td><input type="radio" value="1" [checked]="item.supervisorAssignment == 1"  [name]="item.skillName" (click)="item.supervisorAssignment = 1" /></td>
          <td><input type="radio" value="2" [checked]="item.supervisorAssignment == 2"  [name]="item.skillName" (click)="item.supervisorAssignment =2" /></td>
          <td><input type="radio" value="3" [checked]="item.supervisorAssignment == 3"  [name]="item.skillName"  (click)="item.supervisorAssignment =3"/></td>
          <td><input type="radio" value="4" [checked]="item.supervisorAssignment == 4"  [name]="item.skillName"  (click)="item.supervisorAssignment =4"/></td>
          <td><input type="radio" value="5" [checked]="item.supervisorAssignment === 5"  [name]="item.skillName"  (click)="item.supervisorAssignment =5"/></td>
          <td><input type="radio" value="6" [checked]="item.supervisorAssignment == 6"   [name]="item.skillName"  (click)="item.supervisorAssignment =6" /></td>
          <td><input type="radio" value="7" [checked]="item.supervisorAssignment == 7"  [name]="item.skillName"  (click)="item.supervisorAssignment =7"/></td>
          <td><input type="radio" value="8" [checked]="item.supervisorAssignment == 8"  [name]="item.skillName"   (click)="item.supervisorAssignment =8"/></td>
          <td><input type="radio" value="9" [checked]="item.supervisorAssignment == 9"  [name]="item.skillName"  (click)="item.supervisorAssignment =9"/></td>
          <td><input type="radio" value="10" [checked]="item.supervisorAssignment ==10"   [name]="item.skillName"  (click)="item.supervisorAssignment =10"/></td>
        </tr>
      </table>
    </div>
    <div class="btn-block" *ngIf="!assessing" >
      <button type="submit" (click)="onSubmit()">Send</button>
    </div>
    <div class="btn-block" *ngIf="assessing && accessUser">
      <button type="submit" (click)="onSuperviserSubmit()">Send</button>
    </div>
  </form>
</div>
