<div class="head-title">
  <div class="left">
    <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Sites">Site(s)</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active">Department Detail</a>
      </li>
    </ul>
  </div>
</div>
<!--Upper Content-->
<div class="container">
  <!--Department Upper Box-->
  <div class="profile">
    <div class="photo"><img src="../../../../../assets/departmentImg.jpg" /></div>
    <div class="content">
      <div class="text">
        <h3> Type <b>{{departmentInfo.departmentType}}</b></h3>
        <h6> Department Domain <b>{{departmentInfo.domain}}</b></h6>
      </div>
      <div class="btn" (click)="toggleBox()" *ngIf="accessUser" ><span></span></div>
    </div>
    <div class="box" [class]="boxed">
      <i class="fa fa-pencil" data-toggle="modal" data-target="#editdepartment" title="Edit Department"></i>
      <i class="fa fa-file-text-o" data-toggle="modal" data-target="#adduserskill" title="Add user"></i>
      <i class="fa fa-trash-o" (click)="deleteDeptrment()" title="Delete Department"></i>
    </div>
  </div>

  <div class="row">
    <!--Users Table-->
    <div class="col-6">
      <!--User Expansion panel-->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Users
            </h5>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
            Users in this department
            <br>
            <span style="color: red;"><b>PS</b> : Click on user email to view profile</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email" class="emailField">
                <th mat-header-cell *matHeaderCellDef> email </th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer;" [routerLink]="['/Dashboard/Profile',element.userId]">
                  {{element.email}} </td>
              </ng-container>
              <!-- Role Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role.roleName}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
              [pageSizeOptions]="[3, 5, 10]" aria-label="Select page">
            </mat-paginator>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <!--End Users Table-->
    <!--Begin Chart Roles-->
    <div class="col-6">
      <div echarts [options]="option" class="demo-chart">
      </div>
    </div>
    <!--End Chart Roles-->
  </div>
</div>
<!--End Upper Content-->
<!--Chart Of skills -->
<div class="container" style="padding: 10px;">
  <div echarts [options]="optionDynamic" class="demo-chart"></div>
</div>
<!--End Chart Skills-->


<!--Models-->
<!--Model Edit Department-->
<div class="modal fade" id="editdepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="department-domain" class="col-form-label">Domain:</label>
            <input type="text" class="form-control" id="department-domain" [(ngModel)]="departmentInfo.domain"
              [ngModelOptions]="{standalone: true}" name="domain" required>
          </div>
          <div class="mb-3">
            <label for="department-site" class="col-form-label">Site:</label>
            <select class="form-select form-select-sm" aria-label="type site" disabled>
              <option>{{site.sitename}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="department-type" class="col-form-label">TYPE:</label>
            <select class="form-select form-select-sm" aria-label="type select"
              [(ngModel)]="departmentInfo.departmentType" name="type" [ngModelOptions]="{standalone: true}">
              <option selected>Select Department TYPE</option>
              <option value="CS"><b>CS</b></option>
              <option value="Department"><b>Department</b></option>
              <option value="EMEA">EMEA</option>
              <option value="Direction">Direction</option>
            </select>
          </div>

          <div class="mb-3" *ngIf="departmentInfo.siteId">
            <label for="department-name" class="col-form-label">Parent-Department:</label>
            <select class="form-select form-select-sm" aria-label="select department"
              [(ngModel)]="departmentInfo.departmentMotherId" required [ngModelOptions]="{standalone: true}">
              <option value="0" selected>No parent</option>
              <option *ngFor="let department of departments" [ngValue]="department.id">{{department.domain}}</option>
            </select>
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="editDepartment()">Edit Department</button>
      </div>
    </div>
  </div>
</div>
<!--Model End Department-->

<!-- Modal Add User -->
<div class="modal fade" id="adduserskill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Select a choice</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="typeSearch = true">Add User By Email</a>
              <a class="dropdown-item" (click)="typeSearch = false">Add Skill</a>
            </div>
          </div>
          <input [(ngModel)]="userIdtoSearch" type="text" class="form-control"
            aria-label="Text input with dropdown button" (keyup)="ModelAddSmothingToDepartment()">
        </div>
        <br><br>
        <mat-list>
          <h3 mat-subheader>Users Found</h3>
          <div *ngFor="let item of ListOfSearch">
            <mat-list-item (click)="AddtoDepartment(item)">{{item.email}}</mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Model End adding user-->
