<div class="container mt-5">
  <div class="card">
      <div class="d-flex justify-content-between p-3">
          <div class="image">
              <img src="../../assets/soprahr_LOGO.png" width="90" alt="logo">
          </div>
          <div class="quiz-header">
              <h4 style="font-family: cursive;">Your in the Quiz!</h4>
              <span style="font-style: italic;">Attia Imed</span>
          </div>
      </div>

      <ng-container *ngIf="!isQuizCompleted">
          <div class="d-flex justify-content-around py-3">
              <div class="score">
                  <h5>Score : {{points}} %</h5>
              </div>
              <div class="question-remain">
                  <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
              </div>
              <div class="timer">
                  <h5>{{counter}} sec ⏱</h5>
              </div>
          </div>
          <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="question">
              <div class="card">
                  <h3 style="height: 100px; padding: 20px;">{{questionList[currentQuestion]?.questionText}}</h3>
              </div>
          </div>
          <div class="options" style="margin: 10px;">
              <ol *ngFor="let option of questionList[currentQuestion]?.options">
                  <li (click)="answer(currentQuestion+1,option)" [class]="showExplaination == true ? 'disabled' : ''">
                      <div appChangeBg [isCorrect]="option.correct" class="card" style="height: 80px; padding: 10px;">
                          {{option.text}}
                      </div>
                  </li>

              </ol>
          </div>
          <div class="d-flex justify-content-between" *ngIf="showExplaination" style="margin-left: 35%;">
            <div class="alert alert-success" role="alert">
              {{questionList[currentQuestion]?.explanation}}
            </div>
          </div>
      </ng-container>

      <ng-container *ngIf="isQuizCompleted">
          <div class="row d-flex justify-content-between">
              <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
              <div class="result text-center col-md-6 col-sm-12">
                  <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
                  <p>Total Question Attempted : {{questionList.length}} </p>
                  <p>Total Correct Answered : {{correctAnswer}} </p>
                  <p>Total Wrong Answered : {{inCorrectAnswer}} </p>
                  <p>Your Score : {{points}} % </p>
              </div>
          </div>
      </ng-container>

  </div>
</div>


