<!--Begin Switcher-->
<label class="switch" title="Assign By user">
  <input type="checkbox" class="chk1" (change)="getUsersToAdd()">
  <span class="slider"></span>
</label>
<!--End Switcher-->
<div class="staircase">
  <!--Begin Skill Selection-->
  <div class="step1"><mat-form-field appearance="fill">
      <mat-label>Skills</mat-label>
      <mat-select [formControl]="skills">
        <mat-option *ngFor="let topping of skillsList" [value]="topping.id">
          {{topping.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--End Skill Selection-->
  <!--Begin Team Selection-->
  <div class="step2" *ngIf="!option"><mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select [formControl]="teams" multiple (selectionChange)="removeUsersHasSkill(false)">
        <mat-option *ngFor="let topping of teamsList" [value]="topping.id">
          {{topping.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--End Skill Selection-->
  <!--Begin User Selection-->
  <div class="step21" *ngIf="option">
    <mat-form-field appearance="fill">
      <mat-label>Pick a User</mat-label>
      <input type="text" placeholder="Pick one" aria-label="User" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="changes($event)">
        <mat-option *ngFor="let user of filteredOptions | async" [value]="user.email">
          {{user.email}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!--End User Selection-->
  <!--Begin Role Selection-->
  <div class="step3" *ngIf="!option"><mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [formControl]="roles" multiple (selectionChange)="removeUsersHasSkill(false)">
        <mat-option *ngFor="let topping of rolesList" [value]="topping.idRole">
          {{topping.roleName + " "+topping.job_title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--End Role Selection-->
  <!--Begin Department Selection-->
  <div class="step4" *ngIf="!option"><mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <mat-select [formControl]="departments" multiple (selectionChange)="removeUsersHasSkill(false)">
        <mat-option *ngFor="let topping of departmentsList" [value]="topping.id">
          {{topping.domain}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--End Department Selection-->
</div>
<!--Submit Buttons-->
<button class="btn btn-primary" *ngIf="!option" (click)="removeUsersHasSkill()">Assign
  <span class="badge badge-danger ms-2">{{usersList.length}}</span>
</button>
<button class="btn btn-primary" *ngIf="option" (click)="UpdateUser()">Assign User</button>
<!--End Buttons-->
