<div class="form-group row">
  <!--User Name Input-->
  <label class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="user.firstname" placeholder="Enter User Name" required>
  </div>
  <!--User Last Name Input-->
  <label class="col-sm-2 col-form-label">LastName</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="user.lastname" placeholder="Enter User Last Name" required>
  </div>
  <!--User Email Input-->
  <label class="col-sm-2 col-form-label">email</label>
  <div class="col-sm-10">
    <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Enter User Email" required>
  </div>
  <!--User Role Input-->
  <div class="col-sm-2 form-group">
    <label for="exampleFormControlSelect2">User Role</label>
    <select [(ngModel)]="user.role.idRole" class="form-control" id="exampleFormControlSelect2" required>
      <option *ngFor="let items of listRoles" [ngValue]="items.idRole"
        [selected]="items.idRole == this.user.role.idRole">{{items.roleName +" "+ items.job_title}}
      </option>
    </select>
  </div>
  <!--User Site Input-->
  <div class="col-sm-2 form-group">
    <label for="exampleFormControlSelect2">User Site</label>
    <select [(ngModel)]="user.siteId" class="form-control" id="exampleFormControlSelect3">
      <option *ngFor="let item of listSites" [ngValue]="item.id" [selected]="item.id == this.user.siteId" required>
        {{item.name}}
      </option>
    </select>
  </div>

  <div class="col-sm-2 form-group">
    <label for="exampleFormControlSelect2">Superviser</label>
    <select [(ngModel)]="superviserIdChoosen" class="form-control" id="exampleFormControlSelect3">
      <option *ngFor="let item of listUsers" [ngValue]="item.userId" [selected]="item.userId == superviserIdChoosen" required>
        {{item.firstname + " " + item.lastname}}
      </option>
    </select>
  </div>
</div>
<button (click)="CloseModel()" class="btn btn-danger">
  Cancel
</button>
<button (click)="CreateUser()" *ngIf="user.userId==''" class="btn btn-primary">
  Add
</button>
<button (click)="EditUser()" *ngIf="user.userId!=''" class="btn btn-primary">
  Update
</button>
