<div *ngIf="accessHigherGrantedUser">
  <div class="head-title">
    <div class="left">
      <h1 routerLink="/Dashboard" style="cursor: pointer;">Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a>Dashboard</a>
        </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active" routerLink="/Dashboard/Teams">Teams</a>
      </li>
    </ul>
  </div>
</div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
  style="	float: right;" *ngIf="accessUser"> Create New Team</button>

<div class="containerForm" *ngIf="accessHigherGrantedUser">
  <!-- Begin row -->
  <div class="row">
    <!-- Begin col -->
    <div class="col-sm">
      <h6><b>Department</b></h6>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="DepIdChosen"
        (change)="onChangeDep()">
        <option *ngFor="let item of Deps" [value]="item.id">{{item.domain}}</option>
      </select>
    </div>
  </div>
</div>
<div>
  <div class="grid" style="height: 400px;">
    <ng-container *ngFor="let item of Teams">
      <div class="card">
        <mat-icon *ngIf="accessUser" color="warn" title="Delete This Team"
          (click)="deleteTeam(item.id)">delete</mat-icon>
        <h2>{{item.name}}</h2>
        <button class="btn btn-primary" [routerLink]="['/Dashboard/Teams/Details' ,item.id]">overview</button>
      </div>
    </ng-container>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Input name team" [(ngModel)]="newTeam.name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addTeam()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
