.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

.pointer {
  cursor: pointer;
}



.thumb-lg {
  height: 88px;
  width: 88px;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.text-pink {
  color: #ff679b !important;
}

.text-yellow {
  color: #bea40f !important;
}

.text-green {
  color: #248b04 !important;
}

.btn-rounded {
  border-radius: 2em;
}

.text-muted {
  color: #98a6ad !important;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

.containerForm {
  height: 10%;
  position: relative;
  padding: 1%;
  width: 50%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 55%;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgb(39, 33, 194);
  background: rgb(155, 198, 53);
  background: linear-gradient(45deg,
      #e04242 0%,
      rgb(39, 33, 194) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.grid {
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 254px;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 5%;
}

.card {
  width: fit-content;
  height: 254px;
  background: #07182E;
  position: relative;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  padding: 10%;
}

.card h2 {
  z-index: 1;
  color: #07182E;
  font-size: auto;
  text-align: center;
  margin: 10%;
}

.card .btn {
  z-index: 1;
  color: white;
}

.card mat-icon {
  z-index: 1;
  top: 0;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #ffffff;
  ;
  inset: 5px;
  border-radius: 15px;
}

/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */
